<!doctype html>
<title>{% block title %}{% endblock %} - Fastr</title>
<link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">Fastr</a></h1>
  <ul>
    {% if request.session.user %}
      <li><span>{{ request.session.user.username }}</span>
      <li><a href="{{ url_for('logout_page') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('register_page') }}">Register</a>
      <li><a href="{{ url_for('login_page') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for _ in range(0, request.session.get("flashes", []) | length) %}
    <div class="flash">{{ request.session["flashes"].pop(0) }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>